header {
  background: #ffffff;
}
.logo-text {
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #000000;
  padding: 0;
  margin-right: 93px;
}
.logo-part {
  color: #2196f3;
}
.nav-list,
.nav-adress-list,
.our-qualities-list,
.our-tasks-list,
.our-team-list,
.webstudio-footer-list,
.portfolio-footer-list,
.portfolio-nav-adress-list,
.portfolio-main-section-list-with-buttons,
.portfolio-main-section-list-with-pictures {
  list-style-type: none;
}

.main-nav-list-element {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
}

.main-nav-list-element:hover {
  color: #2196f3;
}

.mail-address-webstudio,
.tel-address-webstudio-header {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #757575;
  text-decoration: none;
}
.tel-address-webstudio-header:hover,
.mail-address-webstudio:hover {
  color: #2196f3;
}
.section-with-button {
  background: #2f303a;
}
.our-slogan {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  margin: 0;
}
.button-to-order-servise {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  background: #2196f3;
  border: 1px solid transparent;

  border-radius: 4px;
  min-width: 200px;
  text-align: center;
  display: block;
  padding: 10px 32px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}
.button-to-order-servise-text {
  color: #ffffff;
}
.section-our-qualities {
  background: #ffffff;
}

.our-qualities-list-caption {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #212121;

  margin: 0;
  padding-top: 94px;
}
.our-qualities-list-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #757575;

  margin: 0;
  padding-bottom: 94px;

  margin-top: 10px;

  text-align: left;
}
.section-our-tasks {
  background: #ffffff;
}
.our-tasks-caption {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #212121;
  margin: 0;
}

.our-tasks-pictures {
  width: 370px;
  height: 294px;
}
.section-our-team {
  background: #f5f4fa;
}
.section-our-team-caption {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #212121;
  margin: 0;
}
.our-team-list-pictures {
  width: 270px;
  height: 260px;
}
.our-team-names {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #212121;
}
.our-team-positions {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #757575;
}
.webstudio-footer,
.portfolio-footer {
  background: #2f303a;
}
.maps-location {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
.mail-address-info,
.tel-address-webstudio {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}
.portfolio-nav-list-element-1,
.portfolio-nav-list-element-3 {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
}
.portfolio-nav-list-element-2 {
  text-decoration: none;
  color: #2196f3;
}
.portfolio-mail-address-webstudio,
.portfolio-tel-address-webstudio {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #757575;
}
.portfolio-main-section {
  background: #ffffff;
}
.portfolio-main-section-button {
  background: #f5f4fa;
  border-radius: 4px;
}
.portfolio-main-section-button-blue {
  background: #2196f3;
  border-radius: 4px;
}
.portfolio-main-section-buttons-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #212121;
  text-align: center;
}
.portfolio-main-section-pictures-description {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  color: #212121;
}
.portfolio-main-section-list-links {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #757575;
}

.header-container {
  width: 1200px;

  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;

  display: flex;
  justify-content: space-between;
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  padding: 0;
  margin: 0;
  display: flex;
}
.logo-text,
.main-nav-list-element,
.adress-list-item {
  display: block;
  padding: 10px 0;
}
.nav-adress-list {
  padding: 0;
  margin-left: auto;
  display: flex;
}
.main-nav-list-element,
.adress-list-item {
  margin-right: 50px;
}

.adress-list-item:last-child {
  margin-right: 0;
}
/*
.main-nav-list-element:last-child {
  margin-right: 0;
}*/

.section-with-button-container {
  margin-top: 0;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 15px;
  padding-right: 15px;

  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.section-our-qualities {
  margin-top: 0;
}

.our-qualities-list {
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
}

.our-qualities-list-item {
  margin-right: 30px;
}
.our-qualities-list-item:last-child {
  margin-right: 0;
}
.our-qualities-container,
.our-tasks-container,
.our-team-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.our-tasks-list {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}
.our-tasks-list-items {
  margin-right: 30px;
  margin-top: 50px;
}
.our-tasks-list-items:last-child {
  margin-right: 0;
}
.section-our-tasks {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-our-team {
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-team-list {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
.our-team-list-items {
  margin-right: 30px;
}
.our-team-list-items:last-child {
  margin-right: 0;
}
.our-team-items-container {
  background: #ffffff;
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.section-our-tasks {
  outline: 3px solid springgreen;
}
.our-team-container {
  outline: 3px solid red;
}
.section-our-team {
  outline: 3px solid blueviolet;
}
.our-team-items-container {
  text-align: center;
  padding-bottom: 30px;
}

.our-team-positions {
  margin-top: 10px;
  margin-bottom: 0;
}
.our-team-names {
  margin-top: 30px;
  margin-bottom: 0;
}
